{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title>Contributor</title>
</head>
<body>
    <div>
        <a href="/home">
            <img src="{% static 'icon/home.png' %}">
        </a>
    </div>
    <div>
        <h1>Time Series Data Upload</h1>
        <!-- File input to select files -->
        <input type="file" name="file" id="myFile" accept=".csv, .txt, .xlsx, .JSON, .exel" onchange="return fileValidation()"/>
        <button type="button" id="upload">Upload</button>
    </div>
    <div>
        <a href="/login">
            <img src="{% static 'icon/back.png' %}">
        </a> 
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>