{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mle.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/home">
            <img src="{% static 'icon/home.png' %}">
        </a>
    </div>
    
    <div id="background"></div>
    <div id="container">
        <h1>Welcome to the MLE Dashboard</h1>
        <p>Get started below by picking a solution and start working. Once you have completed your
            solution, you may upload it here to get your calculation results.
        </p>
        <button id="problem">Upload Solution</button>
        <div>
            <a href="/login">
                <img src="{% static 'icon/back.png' %}">
            </a> 
        </div>
    </div>
    
    
    <div id="light-box">
        <div id="content">
            <div class="page">
                <h1>Time Series Problems</h1>
                <p>Picking a problem from the <a href="solution">Problems</a> page and uploading it to the MLE page helps to calculate 
                    the error mean of the model. This step is crucial for model evaluation, as it identifies the 
                    accuracy of the predictions and areas that require improvement. Regular testing with different 
                    datasets allows for identifying and fixing errors, ensuring the model remains effective.
                </p>
                <p>Choose which problem you would like to solve from the <a href="solution">problems</a>
                    page. Hit next when you have your solution with the set id attached.
                </p>
                <div>
                    <button class="next">Next</button>
                </div>
            </div>

            <div class="page">
                <h1>Uploading your solution</h1>
                <p>To ensure the accuracy of your data analysis results, it's essential to check them against the 
                    original data. After developing a solution, you can test it against a separate set of data or 
                    compare the results manually with the original data. By doing so, you can identify errors and 
                    inconsistencies and refine your approach to data analysis. To check your solution, submit
                    your solution by uploading a txt, csv, JSON, exel, or xlsx file. You will be able to see how 
                    your solution compares.
                </p>
                <label for="solutionFile">SolutionFile:</label>
                <input type="file" id="solutionFile" accept=".csv, .xlsx, .json, .xls"/>
                <p id="upSuccess" style="display: none; color: green">Success: file was uploaded, Click next to upload another solution </p>
                <p id="upError" style="display: none; color: red">Error: file was not uploaded, check console for details</p>
                
                <button type="button" id="upload">Upload</button>
                <div>
                    <!-- <button class="previous">Back</button> -->
                    <button class="next">Next</button>
                </div>
            </div>
    
            <button id="close">Exit</button>
        </div>
    </div>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/mleFile.js' %}"></script>


</body>
</html>