{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">

    <title>Document</title>
</head>
<body>
    <div>
        <a href="/home">
            <img src="{% static 'icon/home.png' %}">
        </a>
    </div>
    
    <h1>Welcome to the MLE Dashboard</h1>
    <button id="problem">Request Problem</button>
    <div id="light-box">
        <div id="content">
            <div class="page">
                <h1>Time Series Problems</h1>
                <p>To pick a time series problem and upload a solution, follow these steps: choose a problem 
                    that interests you, gather and preprocess relevant data, analyze the data using appropriate 
                    techniques, build a solution based on your analysis, and finally, upload your solution to compare
                    errors. 
                </p>
                <div>
                    Problems are displayed here.
                    <button class="next">Next</button>
                </div>
            </div>

            <div class="page">
                <h1>Uploading your solution</h1>
                <p>To ensure the accuracy of your data analysis results, it's essential to check them against the 
                    original data. After developing a solution, you can test it against a separate set of data or 
                    compare the results manually with the original data. By doing so, you can identify errors and 
                    inconsistencies and refine your approach to data analysis. To check your solution, submit
                    your solution by uploading a txt, csv, JSON, exel, or xlsx file. You will be able to see how 
                    your solution compares.
                </p>
                <input type="file" name="file" id="myFile" accept=".csv, .txt, .xlsx" onchange="return fileValidation()"/> 
                <button class="previous">Back</button>
                <button class="next">Next</button>
            </div>
            <div class="page">
                <p>Error Calculations</p>
                <button class="previous">Back</button>
                
            </div>
            <button id="close">Exit</button>
        </div>
    </div>
    <div>
        <a href="/login">
            <img src="{% static 'icon/back.png' %}">
        </a> 
    </div>
    <script src="{% static 'js/lightbox.js' %}"></script>

</body>
</html>