<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="lightbox.css">

    <title>Document</title>
</head>
<body>
    <div>
        <a href="index.html">
            <img src="../icon/home.png">
        </a>
    </div>
    
    <h1>Welcome to the MLE Dashboard</h1>
    <button id="problem">Request Problem</button>
    <div id="light-box">
        <div id="content">
            <h1>Time Series Problems</h1>
            <p>To pick a time series problem and upload a solution, follow these steps: choose a problem 
                that interests you, gather and preprocess relevant data, analyze the data using appropriate 
                techniques, build a solution based on your analysis, and finally, upload your solution to compare
                errors. 
            </p>
            <div id="tm-display-1">
                Problems are displayed here.
                <button id="next">Next</button>
            </div>

            <div id ="submit-projection">
                <h1>Uploading your solution</h1>
                <p>To ensure the accuracy of your data analysis results, it's essential to check them against the 
                    original data. After developing a solution, you can test it against a separate set of data or 
                    compare the results manually with the original data. By doing so, you can identify errors and 
                    inconsistencies and refine your approach to data analysis. To check your solution, submit
                    your solution by uploading a txt, csv, JSON, exel, or xlsx file. You will be able to see how 
                    your solution compares.
                </p>
                <input type="file" name="file" id="myFile" accept=".csv, .txt, .xlsx" onchange="return fileValidation()"/> 
                <button id="previous">Back</button>
                <button id="next">Next</button>
            </div>
            <button id="close">Exit</button>
        </div>
    </div>
    <div id="error-checking">
        <p>Will display the final errors here</p>
    </div>
    <div>
        <a href="login.html">
            <img src="../icon/back.png">
        </a> 
    </div>
    <script src="lightbox.js"></script>

</body>
</html>