{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/solution.css' %}">
    <script type="module" src="https://cdn.jsdelivr.net/npm/json-to-csv-export"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Time Series Problem Page</h1>
        <p>You will be able view problems and error mean calculations here.</p>
        <div>
            <a href="login.html">
                <img src="../icon/back.png">
            </a> 
        </div>
    </div>
    
    <div id="table">
        <table id="problem-table">
            <thead>
                <tr>
                    <th>Problem</th>
                    <th>Solution</th>
                    <th>Downloads</th>
                </tr>
            </thead>
        </table>
    </div>
    <button id="refresh">Request Refresh</button>

    <form onsubmit="download(this['name'].value, this['text'].value)" style="display: none">
        <input type="text" name="name" value="test.txt">
        <!-- <textarea name="text"></textarea> -->
        <input type="submit" value="Download">
    </form>

    <div>
        <a href="/home">
            <img src="{% static 'icon/back.png' %}">
        </a> 
    </div>
    
    <script src="{% static 'js/request.js' %}"></script>
    


</body>
</html>