<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">

    <title>Document</title>
</head>
<body>
    <div id="lightbox">
        <h1>Please select a role:</h1>
        <div class="user-group">
            <a href="contributor.html" id="user">Contributor</a>
            <a href="mle.html" id="user">MLE/DS</a>
            <a href="admin.html" id="user">DB Admin</a>
        </div>
    </div>

    
<div class="container">
    <div class="card">
        <div class="slide slide1">
            <div class="content">
                <div class="icon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="content">
                <h3>Hello there!</h3>
                <p>Trust yourself and keep going.</p>
            </div>
        </div>
    </div>

    

</div>
</body>
</html>
