#Home {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  #Home img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.2);
  }